body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  background-image: url('https://lh3.googleusercontent.com/d/1DLTzvLxRZOaXWbXFaOosYNfc9zfIWIpV?authuser=0'); /* Background inicial */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.background-hidden {
  display: none;
}

.button-container {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 100px;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  z-index: 3; /* Ajustado para garantir que os botões estejam por cima do player */
}

.button-container.visible {
  opacity: 1;
  visibility: visible;
}

.button-container button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 10px;
  background-color: #555;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s, transform 0.2s;
}

.button-container button:hover {
  background-color: #7283a3;
  transform: scale(1.05); /* Efeito ao passar o mouse */
}

.button-container button:focus {
  outline: 2px solid #003c7f; /* Foco acessível */
  outline-offset: 2px;
}

.button-container button.selected {
  background-color: #003c7f;
}

.iframe-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 2; /* Ajustado para garantir que o player esteja por cima do fundo */
}

#iframe-container,
#webtor-player {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Mantém a proporção do vídeo */
}

.toggle-btn {
  position: absolute;
  top: 37px;
  left: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #003c7f;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s, transform 0.2s;
  z-index: 4; /* Ajustado para garantir que o botão esteja por cima dos botões e do player */
}

.toggle-btn:hover {
  background-color: #7283a3;
  transform: scale(1.05); /* Efeito ao passar o mouse */
}

.toggle-btn:focus {
  outline: 2px solid #7283a3; /* Foco acessível */
  outline-offset: 2px;
}

.toggle-btn.active {
  background-color: #00509e; /* Estado ativo do botão "menu" */
}

.toggle-btn.fade-out {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.toggle-btn.fade-in {
  opacity: 1;
  visibility: visible;
}

/* Media queries para responsividade */
@media (max-width: 768px) {
  .button-container {
    bottom: 50px;
  }

  .toggle-btn {
    top: 20px;
    left: 10px;
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .button-container {
    bottom: 30px;
  }

  .toggle-btn {
    top: 10px;
    left: 5px;
    font-size: 12px;
    padding: 6px 12px;
  }
}
